editdistance
future
mock;python_version<"3.0"
natsort
nnutils-pytorch==0.4.0
numpy
parameterized
Pillow>=5.2
scipy
torch==1.1.0
torchvision==0.3.0
torch-baidu-ctc==0.3.0
tqdm
typing;python_version<"3.5"
